<div class="container-fluid">

    <app-pagetitle title="Revisión de proyectos" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <div class="bg-light pt-2 pb-2 topusers">
                <div class="card-title list-title">
                  <form class="search-box app-search d-none d-lg-block">
                    <div class="position-relative">
                      <input type="text" class="form-control bg-white" placeholder="Buscar...">
                      <span class="ri-search-line"></span>
                    </div>
                  </form>
                </div>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                      Filtrar por Estado <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="FiltrarTodos()">Todos</a>
                      <a class="dropdown-item" (click)="FiltrarAprobados()">Aprobados</a>
                      <a class="dropdown-item" (click)="FiltrarPendientes()">Pendientes</a>
                      <a class="dropdown-item" (click)="FiltrarRechazados()">Rechazados</a>
                    </div>
                </div>
            </div>
          <div class="table-responsive">
            <table class="table table-centered mb-0">
              <thead class="bg-white">
                <tr>
                  <th style="width: 120px">Empresa</th>
                  <th>Descripción del proyecto</th>
                  <th class="text-center">Carrera</th>
                  <th class="text-center">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of filter">
                  <td>
                    <img src="{{ project.company.image }}" alt="product-img" title="product-img" class="avatar-md" />
                  </td>
                  <td class="project-description">
                    <div (click)="gotodetails(project.id)">
                        <h5 class="font-size-14 text-truncate"><a class="text-dark pointer">{{ project.code }}</a></h5>
                    </div>
                    <div>
                        <p class="card-text">{{ project.name }}</p>
                    </div>
                  </td>
                  <td class="text-center">
                    <label>{{ project.career.name }}</label>
                  </td>
                  <td class="text-center">
                    <div *ngIf="project.project_process_state.id == 2">
                        <div class="badge-soft-success badge font-size-15">Aprobado</div>
                    </div>
                    <div *ngIf="project.project_process_state.id == 3">
                        <div class="badge-soft-danger badge font-size-15">Rechazado</div>
                    </div>
                    <div *ngIf="project.project_process_state.id == 1">
                        <div class="badge-soft-warning badge font-size-15">Pendiente</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center mt-4">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-light"><i class="fas fa-forward fa-flip-horizontal"></i></button>
                <button type="button" class="btn btn-light"><i class="fas fa-angle-left"></i></button>
                <button type="button" class="btn btn-light">1</button>
                <button type="button" class="btn btn-light">2</button>
                <button type="button" class="btn btn-light">3</button>
                <button type="button" class="btn btn-light">4</button>
                <button type="button" class="btn btn-light"><i class="fas fa-angle-right"></i></button>
                <button type="button" class="btn btn-light"><i class="fas fa-forward"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  
    
  
  </div> <!-- container-fluid -->
  