.topusers {
    display:flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 4rem;
}

.list-title {
    font-size: 16px;
    font-weight: 900;
    color: black;
    padding-top: 8px;
}