<div class="container-fluid">
    <app-pagetitle title="Usuarios Inactivos"></app-pagetitle>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Nombre Completo</th>
                    <th>Código</th>
                    <th>Estado</th>
                    <th>Habilitar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inactive of inactives">
                    <td>{{ inactive.name }}</td>
                    <td>{{ inactive.code }}</td>
                    <td><div class="badge-soft-danger badge font-size-14">{{ inactive.state }}</div></td>
                    <td><button type="button" class="btn btn-success btn-rounded">Activar</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
  
