<div class="container-fluid">
  <!-- start page title -->
  <app-pagetitle title="Registro de Usuario"></app-pagetitle>
  <!-- end page title -->

    <!-- start page title -->
    <app-pagetitle title="Registro de Usuario"></app-pagetitle>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label for="name-input" class="col-md-2 col-form-label">Nombre</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="name-input" [(ngModel)]="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="code-input" class="col-md-2 col-form-label">Código</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="code-input" [(ngModel)]="code">
              </div>
            </div>
            <div class="form-group row">
              <label for="usertype-input" class="col-md-2 col-form-label">Tipo de usuario</label>
              <div class="col-md-10 row mt-2 pl-5">
                  <div class="form-check form-check-right mr-5">
                    <input class="form-check-input" type="radio" name="userTypeRadios" id="alumnoRadio" value="alumno" checked [(ngModel)]="type">
                    <label class="form-check-label" for="alumnoRadio">Alumno</label>
                  </div>
                  <div class="form-check form-check-right">
                    <input class="form-check-input" type="radio" name="userTypeRadios" id="docenteRadio" value="docente" [(ngModel)]="type">
                    <label class="form-check-label" for="docenteRadio">Docente</label>
                  </div>
              </div>
            </div>
            <div *ngIf="type == 'alumno'; else elseBlock">
              <div class="form-group row">
                <label class="col-md-2 col-form-label">Carrera</label>
                <div class="col-md-10">
                  <select class="form-control" [(ngModel)]="studies">
                    <option value="CC">Ciencias de la Computación</option>
                    <option value="IS">Ingenieria de Sistemas</option>
                    <option value="SW">Ingenieria de Software</option>
                  </select>
                </div>
              </div>
            </div>
            <ng-template #elseBlock>
              <div class="form-group row">
                <label class="col-md-2 col-form-label">Tipo de docente</label>
                <div class="col-md-10">
                  <select class="form-control" [(ngModel)]="teachertype">
                    <option value="PM">Portafolio Manager</option>
                    <option value="PO">Product Owner</option>
                    <option value="CA">Co-Autor</option>
                  </select>
                </div>
              </div>
            </ng-template>
            <div class="col-md-12">
              <div class="text-center">
                  <button type="button" class="btn btn-primary w-lg" (click)="successmsg()">Ingresar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
</div> <!-- container-fluid -->
