<div class="container-fluid">
    <app-pagetitle title="Lista de Solicitudes de Cambio" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="bg-light pt-2 pb-2 topusers">
                        <div class="card-title list-title">
                          <form class="search-box app-search d-none d-lg-block">
                            <div class="position-relative">
                              <input (ngModelChange)="onSearchFilter($event)" [(ngModel)]="keyword" name="search-box" type="text" class="form-control bg-white" placeholder="Buscar...">
                              <span class="ri-search-line"></span>
                            </div>
                          </form>
                        </div>
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                              Filtrar lista <i class="mdi mdi-chevron-down"></i>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                              <a class="dropdown-item" (click)="onStateFilter(0)">Todos</a>
                              <a class="dropdown-item" (click)="onStateFilter(1)">Pendientes</a>
                              <a class="dropdown-item" (click)="onStateFilter(2)">Rechazados</a>
                              <a class="dropdown-item" (click)="onStateFilter(3)">Aprobados</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Atributo</th>
                                    <th style="display: none;">Valor a Cambiar</th>
                                    <th>Solicitante</th>
                                    <th>Proyecto</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="isLoaded == true">
                                <tr *ngFor="let request of filter | slice: (page-1) * pageSize : page * pageSize" class="pointer" (click)=gotodetails(request.id)>
                                    <td>{{ request.attribute_to_change }}</td>
                                    <td style="display: none;">{{ request.value }}</td>
                                    <td>{{ request.user.firstname + ' ' + request.user.lastname }}</td>
                                    <td>{{ request.project.code }}</td>
                                    <td>{{ request.request_date | date: 'dd-MM-yyy' }}</td>
                                    <td>
                                        <div *ngIf="request.accepted == 0;">
                                            <div class="badge-soft-warning badge font-size-15">pendiente</div>
                                        </div>
                                        <div *ngIf="request.accepted == 1;">
                                            <div class="badge-soft-danger badge font-size-15">rechazado</div>
                                        </div>
                                        <div *ngIf="request.accepted == 2;">
                                            <div class="badge-soft-success badge font-size-15">aprobado</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-4">
                        <div class="centered">
                            <ngb-pagination class="pagination" [collectionSize]="number_requests" [(page)]="page" [maxSize]="10" [pageSize]="pageSize" 
                            [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>