<div class="container-fluid">
    <app-pagetitle title="Lista de Usuarios" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="bg-light pt-2 pb-2 topusers">
                <div class="card-title list-title">
                  <form class="search-box app-search d-none d-lg-block">
                    <div class="position-relative">
                      <input (ngModelChange)="onSearchFilter($event)" [(ngModel)]="keyword" name="search-box" type="text" class="form-control bg-white" placeholder="Buscar...">
                      <span class="ri-search-line"></span>
                    </div>
                  </form>
                </div>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                      Filtrar lista <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="onRoleFilter(0)">Todos</a>
                      <a class="dropdown-item" (click)="onRoleFilter(1)">Alumnos</a>
                      <a class="dropdown-item" (click)="onRoleFilter(2)">Docentes</a>
                      <a class="dropdown-item" (click)="onRoleFilter(3)">Comites</a>
                      <a class="dropdown-item" (click)="onRoleFilter(4)">Usuarios inactivos</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Nombre Completo</th>
                    <th>Código</th>
                    <th>Tipo de usuario</th>
                    <th>Promedio Ponderado</th>
                    <th>Nivel de Inglés</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody *ngIf="isLoaded == true">
                  <tr *ngFor="let user of filter | slice: (page-1) * pageSize : page * pageSize">
                    <td class="pointer" (click)=gotodetails(user.id)>{{ user.firstname + ' ' + user.lastname }}</td>
                    <td>{{ user.code }}</td>
                    <td>
                      <ng-template [ngIf]="user.role.id == 4">Docente</ng-template>
                      <ng-template [ngIf]="user.role.id == 5">Miembro del comité</ng-template>
                      <ng-template [ngIf]="user.role.id < 4">Alumno</ng-template>
                    </td>
                    <td>
                      <ng-template [ngIf]="user.role.id < 4">{{ user.weighted_average }}</ng-template>
                      <ng-template [ngIf]="user.role.id >= 4">No Disponible</ng-template>
                    </td>
                    <td>
                      <ng-template [ngIf]="user.role.id < 4">
                        <div *ngIf="englishLevel(3, 5) == 5; else elseBlock1">
                          <div class="badge-soft-success badge font-size-15">{{ englishLabel(level) }}</div>
                        </div>
                        <ng-template #elseBlock1>
                            <div class="badge-soft-danger badge font-size-15">{{ englishLabel(level) }}</div>
                        </ng-template>
                      </ng-template>
                      <ng-template [ngIf]="user.role.id >= 4">No Disponible</ng-template>
                    </td>
                    <td>
                      <ng-template [ngIf]="user.role.id < 4">
                        <span class="uppercase">{{ user.role.name }}</span>
                      </ng-template>
                      <ng-template [ngIf]="user.role.id >= 4">No Disponible</ng-template>
                    </td>
                    <td>
                        <div *ngIf="user.active == 1; else elseBlock1">
                            <div class="badge-soft-success badge font-size-15">activo</div>
                        </div>
                        <ng-template #elseBlock1>
                            <div class="badge-soft-danger badge font-size-15">inactivo</div>
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="user.active == 1; else elseBlock2">
                            <button type="button" class="btn btn-outline-danger btn-sm w-sm">Inhabilitar</button>
                        </div>
                        <ng-template #elseBlock2>
                            <button type="button" class="btn btn-outline-success btn-sm w-sm">Habilitar</button>
                        </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center mt-4">
              <div class="centered">
                <ngb-pagination class="pagination" [collectionSize]="number_users" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [ellipses]="false"
                  [boundaryLinks]="true"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>