<div class="container-fluid">
    <app-pagetitle title="Detalles" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row">
      <div class="col-md-6 col-xl-6">
        <!-- Simple card -->
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title mt-0">Proyecto</h4>
            <p class="card-text">Project management software has the capacity to help plan, organize, and manage resource tools and develop resource estimates. Create a client creative project brief  to ensure a project strategy aligns with client goals. Creative briefs are frequently used for projects involving graphic design, videography, or marketing campaigns. Start by briefly describing the project, objectives, and deadlines. The following client creative project brief provides an overview of a holiday marketing campaign.</p>
            <a href="/ecommerce/cart" style="backghround-color:red; margin: 95px" class="btn btn-primary">Rechazar</a>
            <a href="/ecommerce/cart" style="backghround-color:yellow; margin: 95px" class="btn btn-primary">Aprobar con comentarios</a>
            <a href="/ecommerce/cart" style="backghround-color:green; margin: 95px" class="btn btn-primary">Aprobar</a>
          </div>
        </div>
      </div><!-- end col -->
    
    <!-- end row -->
    
  </div>