<div class="container-fluid">
    <app-pagetitle title="Detalles" ></app-pagetitle>

    <div class="row">
      <div class="col-md-6 col-xl-6 centered">
        <!-- Simple card -->
          <div class="card card-body more-shadow col-md-10 centered">
            <h4 class="card-title mt-0">Proyecto</h4>
            <p class="card-text centered">Project management software has the capacity to help plan, organize, and manage resource tools and develop resource estimates. Create a client creative project brief  to ensure a project strategy aligns with client goals. Creative briefs are frequently used for projects involving graphic design, videography, or marketing campaigns. Start by briefly describing the project, objectives, and deadlines. The following client creative project brief provides an overview of a holiday marketing campaign.</p>
            <div class="col-md-10 centered">
              <a href="/ecommerce/cart" class="btn btn-primary w-md waves-effect waves-light centered" style="margin: 10px;">Rechazar</a>
              <a href="/ecommerce/cart" class="btn btn-primary w-md waves-effect waves-light centered" style="margin: 10px;">Aprobar con comentarios</a>
              <a href="/ecommerce/cart" class="btn btn-primary w-md waves-effect waves-light centered" style="margin: 10px;">Aprobar</a>
            </div>
          </div>
      </div><!-- end col -->
    
    <!-- end row -->
    
  </div>