<div class="container-fluid">

    <!-- start page title -->
    <app-pagetitle title="Postulaciones Cerradas"></app-pagetitle>
    <!-- end page title -->
  
    <div class="row">
      <div (click)="gotodetails()" *ngFor="let postulation of postulations" class="col-md-12">
        <div class="card card-body">
          <h3 class="card-title mt-0 text-center">{{ postulation.name }}</h3>
          <div class="row mt-1">
            <div class="card-text col-md-6">{{ postulation.definition }}</div>
            <div class="card-text col-md-6">
                <label>Estado:&nbsp;</label>
                <div *ngIf="postulation.estado == 'activo'; else elseBlock" class="badge-soft-success badge font-size-14">Activo</div>
                <ng-template #elseBlock><div class="badge-soft-danger badge font-size-14">Inactivo</div></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  
    
  
  </div> <!-- container-fluid -->
  