<div class="container-fluid">
  <app-pagetitle title="Proyectos"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body more-shadow centered">
          <div class="table-responsive centered">
            <table class="table table-centered mb-0 table-nowrap">
              <thead class="bg-light">
                <tr>
                  <th style="width: 120px">Proyecto</th>
                  <th>Descripción de Proyectos</th>
                  <th><label for="status" style="margin: 10px">Filtrar por Status:</label>
                    
                    <div _ngcontent-aey-c143="" role="group" ngbdropdown="" class="btn-group show dropdown">
                      <button _ngcontent-aey-c143="" id="btnGroupVerticalDrop1" type="button" ngbdropdowntoggle="" class="dropdown-toggle btn btn-light" aria-expanded="true"> Dropdown <i _ngcontent-aey-c143="" class="mdi mdi-chevron-down"></i></button>
                      <div _ngcontent-aey-c143="" aria-labelledby="btnGroupVerticalDrop1" ngbdropdownmenu="" class="dropdown-menu show" x-placement="bottom-left" style="top: 0px; left: 0px; will-change: transform; position: absolute; transform: translate(0px, 39px);">
                        <a class="dropdown-item" href="/ecommerce/cart/accepted">Aceptados</a>
                        <a class="dropdown-item" href="/ecommerce/cart/pending">Pendientes</a>
                        <a class="dropdown-item" href="/ecommerce/cart/declined">Rechazados</a></div></div>
                    
                    

                  <th><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre.."></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of cartData">
                  <td>
                    <img src="{{ product.image }}" alt="product-img" title="product-img" class="avatar-md" />
                  </td>
                  <td>
                    <h5 class="font-size-14 text-truncate"><a routerLink="/ecommerce/product-detail"
                        class="text-dark">{{ product.name }}</a></h5>
                    <p class="mb-0"><span class="font-weight-medium">{{ product.color }}</span></p>
                    <a href="/ecommerce/cart/detail">Detalles</a>
                  </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
