<div class="container-fluid">

    <!-- start page title -->
    <app-pagetitle title="{{ titlecode }}" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <!-- end page title -->
    <div class="card card-body" *ngIf="isLoaded == true">
      <div class="row">
        <div class="col-md-10 centered">
          <div class="card card-body more-shadow">
            <h3 class="card-title mt-0 text-center">{{ project.code }}</h3>
            <div class="row">
              <div class="col-md-10 mb-4 padding-right">
                <div class="text-black">Nombre de Proyecto:</div>
                <div>{{ project.name }}</div>
                <br>
                <div class="text-black">Carrera:</div>
                <div>{{ project.career.name }}</div>
                <br>
                <div class="text-black">Objetivo General:</div>
                <div>{{ project.general_objective }}</div>
                <br>
                <br>
                <div class="text-black">Objetivo Específico 1:</div>
                <div>{{ project.specific_objective_1 }}</div>
                <br>
                <br>
                <div class="text-black">Objetivo Específico 2:</div>
                <div>{{ project.specific_objective_2 }}</div>
                <br>
                <br>
                <div class="text-black">Objetivo Específico 3:</div>
                <div>{{ project.specific_objective_3 }}</div>
                <br>
                <br>
                <div class="text-black">Objetivo Específico 4:</div>
                <div>{{ project.specific_objective_4 }}</div>
                <br>
                <div class="text-black">Petición de dispositivos:</div>
                <div>Lentes de realidad Aumentada</div>
                <br>
                <div class="form-group row">
                    <div class="col-lg-4 pt-2">
                      <label class="text-black">Requerimiento de paper</label>
                    </div>
                    <div class="col-lg-1 pt-2">
                      <label>Sí</label>
                    </div>
                </div>
                <br *ngIf="project.url_file != ''">
                <div class="form-group row" *ngIf="project.url_file != ''">
                    <div class="col-lg-4 pt-2">
                      <label class="text-black" for="peticion">Documento Adjunto</label>
                    </div>
                    <div class="col-lg-3">
                      <a href="{{project.url_file}}" download="{{project.code}} - {{project.name}}.pdf" target="_blank">
                        <button type="button" class="btn btn-download">
                          <!--i class="fas fa-file-download align-middle"></i-->
                          <span class="ml-0"> Descargar </span>
                        </button>
                      </a>
                    </div>
                </div>
                <br *ngIf="project.url_sharepoint != ''">
                <div class="form-group row" *ngIf="project.url_sharepoint != ''">
                  <div class="col-lg-4 pt-2">
                    <label class="text-black" for="peticion">Espacio de Trabajo</label>
                  </div>
                  <div class="col-lg-3">
                    <a href="{{project.url_sharepoint}}" target="_blank">
                      <button type="button" class="btn btn-sharepoint">
                        <!--i class="fas fa-file-download align-middle"></i-->
                        <span class="ml-0"> Sharepoint </span>
                      </button>
                    </a>
                  </div>
              </div>
                <br>
                <div class="text-black">Descripción:</div>
                <div>{{ project.description }}</div>
              </div>
              <div class="col-md-2 pt-4">
                <img src="{{ project.company.image }}" class="avatar-lg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  
    
  
  </div> <!-- container-fluid -->

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>