<div class="container-fluid">

    <!-- start page title -->
    <app-pagetitle title="Detalle de Proyecto"></app-pagetitle>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body">
          <h3 class="card-title mt-0 text-center">Proyecto Nro 1</h3>
          <div>Objetivo general: texto de ejemplo</div>
          <div>Descripción del proyecto: texto de ejemplo</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-body">
            <div class="mt-2 text-center">Integrante 1: texto ejemplo</div>
            <div class="mt-2 text-center">Integrante 2: texto ejemplo</div>
        </div>
      </div>
      <div class="col-md-12"> 
        <div class="card card-body">
            <div class="mt-2 text-center">PM Asignado: texto de ejemplo</div>
            <div class="mt-2 text-center">PO Asignado: texto de ejemplo</div>
            <div class="mt-2 text-center">Co-Autor Asignado: texto de ejemplo</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-center">
            <button type="button" class="btn btn-success btn-rounded w-lg">Gestiones de Cambio</button>
        </div>
      </div>
    </div>
    <!-- end row -->
  
    
  
  </div> <!-- container-fluid -->
