<div class="container-fluid">

    <!-- start page title -->
    <app-pagetitle title="Detalle de Proyecto" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <!-- end page title -->
    <div class="card card-body" *ngIf="isLoaded">
      <div class="row">
        <div class="col-md-10 centered">
          <div class="card card-body more-shadow">
            <h3 class="card-title mt-0 text-center">{{ project.code }}</h3>
            <div class="row">
              <div class="col-md-10 mb-4 padding-right">
                <div class="text-black">Nombre de Proyecto:</div>
                <div>{{ project.name }}</div>
                <br>
                <div class="text-black">Carrera:</div>
                <div>{{ project.career.name }}</div>
                <br>
                <div class="text-black">Objetivo General:</div>
                <div>{{ project.general_objective }}</div>
                <br>
                <div class="text-black">Petición de dispositivos:</div>
                <div>Lentes de realidad Aumentada</div>
                <br>
                <div class="form-group row">
                    <div class="col-lg-4 pt-2">
                      <label class="text-black">Requerimiento de paper</label>
                    </div>
                    <div class="col-lg-1 pt-2">
                      <label>Sí</label>
                    </div>
                </div>
                <br *ngIf="project.url_file != ''">
                <div class="form-group row" *ngIf="project.url_file != ''">
                  <div class="col-lg-3 pt-2">
                    <label for="peticion">Documento Adjunto</label>
                  </div>
                  <div class="col-lg-3">
                    <a href="{{ project.url_file }}" download="{{ project.code }} - {{ project.name }}.pdf" target="_blank">
                      <button type="button" class="btn btn-download">
                        <!--i class="fas fa-file-download align-middle"></i-->
                        <span class="ml-0"> Descargar </span>
                      </button>
                    </a>
                  </div>
                </div>
                <br *ngIf="project.url_sharepoint != ''">
                <div class="form-group row" *ngIf="project.url_sharepoint != ''">
                  <div class="col-lg-3 pt-2">
                    <label for="peticion">Espacio de Trabajo</label>
                  </div>
                  <div class="col-lg-3">
                    <a href="{{ project.url_sharepoint }}" target="_blank">
                      <button type="button" class="btn btn-sharepoint">
                        <!--i class="fas fa-file-download align-middle"></i-->
                        <span class="ml-0"> Sharepoint </span>
                      </button>
                    </a>
                  </div>
                </div>
                <br>
                <div class="text-black">Descripción:</div>
                <div>{{ project.description }}</div>
              </div>
              <div class="col-md-2 pt-4">
                <img src="{{ project.company.image }}" class="avatar-lg" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 centered">
          <div class="card card-body more-shadow">
            <h3 class="card-title mt-0 text-center">Integrantes del grupo</h3>
            <div class="row">
              <div class="col-md-5">
                <div class="mt-2 row">
                  <div><img class="rounded-circle header-profile-user" src="assets/images/users/avatar-2.jpg"></div>
                  <div class="ml-2">
                    <div class="text-black">{{ project.student_1.firstname + project.student_1.lastname }}</div>
                    <div>{{ project.student_1.code }}</div>
                  </div>
                </div>
                <div class="mt-2 row">
                  <div><img class="rounded-circle header-profile-user" src="assets/images/users/avatar-2.jpg"></div>
                  <div class="ml-2">
                    <div class="text-black">{{ project.student_2.firstname + project.student_2.lastname }}</div>
                    <div>{{ project.student_2.code }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mt-2 row">
                  <div class="mt-1">{{ project.career.name }}</div>
                </div>
                <div class="mt-4 row">
                  <div class="mt-2">{{ project.career.name }}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-2 row">
                  <div class="mt-1">{{ project.student_1.code }}@upc.edu.pe</div>
                </div>
                <div class="mt-4 row">
                  <div class="mt-2">{{ project.student_2.code }}@upc.edu.pe</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 centered">
          <div class="card card-body more-shadow">
            <div class="row">
              <div class="col-md-10 mb-4 padding-right">
                <div class="text-black">Product Owner Asignado:</div>
                <div>{{ project.product_owner.firstname + project.product_owner.lastname }}</div>
                <br>
                <div class="text-black">Portfolio Manager Asignado:</div>
                <div>{{ project.portfolio_manager.firstname + project.portfolio_manager.lastname }}</div>
                <br>
                <div class="text-black">Coautor Asignado:</div>
                <div>{{ project.co_autor.firstname + project.co_autor.lastname }}</div>
                <br>
                <div class="text-black">Observaciones:</div>
                <div>Ninguna</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  
    
  
  </div> <!-- container-fluid -->

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>