<div class="container-fluid">
    <app-pagetitle title="Detalles" ></app-pagetitle>

    <div class="row">
      <div class="col-md-6 col-xl-6">
        <!-- Simple card -->
        <div class="card">
          <div class="card-body more-shadow centered">
            <h4 class="card-title mt-0">Proyecto</h4>
            <p class="card-text">Project management software has the capacity to help plan, organize, and manage resource tools and develop resource estimates. Create a client creative project brief  to ensure a project strategy aligns with client goals. Creative briefs are frequently used for projects involving graphic design, videography, or marketing campaigns. Start by briefly describing the project, objectives, and deadlines. The following client creative project brief provides an overview of a holiday marketing campaign.</p>
            <a href="/ecommerce/postulacion" class="btn btn-primary w-md waves-effect waves-light">Aceptar</a>
          </div>
        </div>
      </div><!-- end col -->
    
    <!-- end row -->
    
  </div>