<div class="container-fluid">
    <app-pagetitle title="{{ titlecode }}" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
                <div class="tab-pane" id="regpoy">
                    <div *ngIf="isLoaded" class="col-md-12 text-center mt-2 mb-2">
                        <img src="{{ image }}" class="avatar-lg" />
                    </div>
                    <div class="form-group row mt-4">
                      <div class="col-lg-3 pt-2">
                        <label for="projectname">Nombre de Proyecto</label>
                      </div>
                      <div class="col-lg-9">
                        <textarea id="projectname" name="projectname" type="text" rows="2" class="form-control form-disabled" [(ngModel)]="name" disabled></textarea>
                      </div>
                    </div>
                  
                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label for="Carrera">Carrera</label>
                          </div>
                          <div class="col-lg-9">
                            <input id="studies-input" name="studies-input" type="text" class="form-control form-disabled" [(ngModel)]="studies" disabled>
                          </div>
                        </div>
  
                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label for="Objetivo General">Objetivo General</label>
                          </div>
                          <div class="col-lg-9">
                            <textarea id="Objetivo General" name="Objetivo General" type="text" rows="2" class="form-control form-disabled" [(ngModel)]="objective" disabled></textarea>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label for="Objetivo Específico 1">Objetivo Específico 1</label>
                          </div>
                          <div class="col-lg-9">
                            <input id="Objetivo Específico 1" name="Objetivo Específico 1" type="text" class="form-control form-disabled" [(ngModel)]="objective_specific_one" disabled>
                          </div>
                        </div>
      
                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label for="Objetivo Específico 2">Objetivo Específico 2</label>
                          </div>
                          <div class="col-lg-9">
                            <input id="Objetivo Específico 2" name="Objetivo Específico 2" type="text" class="form-control form-disabled" [(ngModel)]="objective_specific_two" disabled>
                          </div>
                        </div>
      
                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label for="Objetivo Específico 3">Objetivo Específico 3</label>
                          </div>
                          <div class="col-lg-9">
                            <input id="Objetivo Específico 3" name="Objetivo Específico 3" type="text" class="form-control form-disabled" [(ngModel)]="objective_specific_three" disabled>
                          </div>
                        </div>
      
                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label for="Objetivo Específico 4">Objetivo Específico 4</label>
                          </div>
                          <div class="col-lg-9">
                            <input id="Objetivo Específico 4" name="Objetivo Específico 4" type="text" class="form-control form-disabled" [(ngModel)]="objective_specific_four" disabled>
                          </div>
                        </div>
  
                        <div class="form-group row">
                          <div class="col-lg-3 pt-2">
                            <label>Petición de dispositivos</label>
                          </div>
                          <div class="col-lg-1 pt-2">
                            <label>Sí</label>
                          </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-3 pt-2">
                              <label for="peticion">Requerimiento de paper</label>
                            </div>
                            <div class="col-lg-1 pt-2">
                              <label>Sí</label>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="file != ''">
                          <div class="col-lg-3 pt-2">
                            <label for="peticion">Documento Adjunto</label>
                          </div>
                          <div class="col-lg-3">
                            <a href="{{file}}" download="{{code}} - {{name}}.pdf" target="_blank">
                              <button type="button" class="btn btn-download">
                                <!--i class="fas fa-file-download align-middle"></i-->
                                <span class="ml-0"> Descargar </span>
                              </button>
                            </a>
                          </div>
                      </div>

                      <div class="form-group row" *ngIf="sharepoint != ''">
                        <div class="col-lg-3 pt-2">
                          <label for="peticion">Espacio de Trabajo</label>
                        </div>
                        <div class="col-lg-3">
                          <a href="{{sharepoint}}" target="_blank">
                            <button type="button" class="btn btn-sharepoint">
                              <!--i class="fas fa-file-download align-middle"></i-->
                              <span class="ml-0"> Sharepoint </span>
                            </button>
                          </a>
                        </div>
                    </div>
  
                    <div class="form-group">
                      <label for="Descripcion">Descripción</label>
                      <textarea class="form-control form-disabled" id="Descripcion" rows="4" [(ngModel)]="description" disabled></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 pt-2">
                      <label>Product Owner</label>
                    </div>
                    <div class="col-lg-9">
                      <select class="form-control" [(ngModel)]="powner">
                        <option value="WU">Willy Ugarte</option>
                        <option value="AB">Alejandra Barrientos</option>
                        <option value="FS">Fernando De Soto</option>
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 pt-2">
                      <label>Portafolio Manager</label>
                    </div>
                    <div class="col-lg-9">
                      <select class="form-control" [(ngModel)]="pmanager">
                        <option value="WU">Willy Ugarte</option>
                        <option value="AB">Alejandra Barrientos</option>
                        <option value="FS">Fernando De Soto</option>
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 pt-2">
                      <label>Co-Autor</label>
                    </div>
                    <div class="col-lg-9">
                      <select class="form-control" [(ngModel)]="coautor">
                        <option value="WU">Willy Ugarte</option>
                        <option value="AB">Alejandra Barrientos</option>
                        <option value="FS">Fernando De Soto</option>
                      </select>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary waves-effect mr-3" (click)="saveAsignation()">Guardar Asignaciones</button>
                </div>  
  
                <div class="float-right mt-4">
                  <button type="submit" class="btn btn-light waves-effect mr-3" (click)="goback()">Volver</button>
                </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>