<div class="container-fluid">
    <app-pagetitle title="Lista de Postulaciones" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <div class="bg-light pt-2 pb-2 toppostulations">
                    <div class="card-title postulations-title">Postulaciones Realizadas <span> {{postulations.length}} </span></div>
                </div>
              <div class="table-responsive">
                <table class="table table-centered mb-0">
                  <thead class="bg-white">
                    <tr>
                      <th>Código</th>
                      <th>Fecha</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let postulation of postulations">
                      <td class="pointer" (click)=gotodetails(postulation.code)>{{ postulation.code }}</td>
                      <td>{{ postulation.date | date:'dd MMM yyy' }}</td>
                      <td>
                        <div *ngIf="postulation.status=='asiganado'" class="badge-soft-success badge font-size-15">{{ postulation.status }}</div>
                        <div *ngIf="postulation.status=='pendiente'" class="badge-soft-warning badge font-size-15">{{ postulation.status }}</div>
                        <div *ngIf="postulation.status=='rechazado'" class="badge-soft-danger badge font-size-15">{{ postulation.status }}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center mt-4">
                <div class="centered">
                  <ngb-pagination class="pagination" [collectionSize]="number_postulations" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>