<div class="container-fluid">
    <app-pagetitle title="Detalles" ></app-pagetitle>

    <div class="row">
      <div class="col-md-6 col-xl-2">
        <!-- Simple card -->
        <div class="card">
          <div class="card-body more-shadow centered">
            <h4 class="card-title mt-0">Postulación exitosa.</h4>
            <a href="/ecommerce/cart" type="button" class="btn btn-primary w-md waves-effect waves-light">Aceptar</a>
          </div>
        </div>
      </div><!-- end col -->
    
    <!-- end row -->
    
  </div>