
<div class="my-5 pt-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <div class="mb-5">
            <a routerLink="">
              <img src="assets/images/logo-upc.png" alt="logo" height="60" />
            </a>
          </div>

          <div class="row justify-content-center">
            <div class="col-sm-4">
              <div class="maintenance-img">
                <img src="assets/images/maintenance-bg.png" alt="" class="img-fluid mx-auto d-block">
              </div>
            </div>
          </div>
          <h3 class="mt-5">El sitio esta en mantenimiento</h3>
          <p>Porfavor revise si la pagina esta activa más tarde.</p>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
</div>
