<div class="container-fluid">

    <app-pagetitle title="Lista de proyectos" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <div class="bg-light pt-2 pb-2 topusers">
                <div class="card-title list-title">
                  <form class="search-box app-search d-none d-lg-block">
                    <div class="position-relative">
                      <input (ngModelChange)="onSearchFilter($event)" [(ngModel)]="keyword" name="search-box" type="text" class="form-control bg-white" placeholder="Buscar...">
                      <span class="ri-search-line"></span>
                    </div>
                  </form>
                </div>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                      Filtrar por Estado <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="onStatusFilter(0)">Todos</a>
                      <a class="dropdown-item" (click)="onStatusFilter(1)">Asignados</a>
                      <a class="dropdown-item" (click)="onStatusFilter(2)">Pendiente de asignación de docentes</a>
                    </div>
                </div>
            </div>
          <div class="table-responsive">
            <table class="table table-centered mb-0">
              <thead class="bg-white">
                <tr>
                  <th style="width: 120px">Empresa</th>
                  <th>Descripción del proyecto</th>
                  <th class="text-center">Carrera</th>
                  <th class="text-center">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of filter | slice: (page-1) * pageSize : page * pageSize">
                  <td>
                    <img src="{{ project.company.image }}" alt="product-img" title="product-img" class="avatar-md" />
                  </td>
                  <td class="project-description">
                    <div (click)="gotodetails(project.id)">
                        <h5 class="font-size-14 text-truncate"><a class="text-dark pointer">{{ project.code }}</a></h5>
                    </div>
                    <div>
                        <p class="card-text">{{ project.name }}</p>
                    </div>
                  </td>
                  <td class="text-center">
                    <label>{{ project.career.name }}</label>
                  </td>
                  <td class="text-center">
                    <div *ngIf="project.project_process_state.id == 2 || project.project_process_state.id == 4">
                        <div class="badge-soft-success badge font-size-15">{{ project.project_process_state.name }}</div>
                    </div>
                    <div *ngIf="project.project_process_state.id == 3">
                        <div class="badge-soft-danger badge font-size-15">{{ project.project_process_state.name }}</div>
                    </div>
                    <div *ngIf="project.project_process_state.id == 1">
                        <div class="badge-soft-warning badge font-size-15">{{ project.project_process_state.name }}</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center mt-4">
            <div class="centered">
              <ngb-pagination class="pagination" [collectionSize]="number_projects" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [ellipses]="false"
                [boundaryLinks]="true"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  
    
  
  </div> <!-- container-fluid -->
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>