<div class="container-fluid">

    <!-- start page title -->
    <app-pagetitle title="Gestiones de cambio"></app-pagetitle>
    <!-- end page title -->

    <div class="card card-body" *ngIf="isLoaded">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-body more-shadow col-md-7 centered">
                <h3 class="card-title mt-0 text-center" *ngIf="isLoaded">{{ project.code }}</h3>
                <div class="row">
                    <div class="col-md-9 pt-3">
                      <div class="text-black">Descripción del proyecto:</div>
                      <div>{{ project.name }}</div>
                    </div>
                    <div class="col-md-3 pl-4 pt-2">
                      <img src="{{ project.company.image }}" class="avatar-md" />
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group col-md-12 mt-3">
            <div class="col-md-10 centered col-form-label">Seleccione gestion de cambio: </div>
            <div class="col-md-10 centered">
              <select class="form-control" [(ngModel)]="cambio">
                <option value="CNP">Cambio de nombre del proyecto</option>
                <option value="MO">Modificaicon de objetivos</option>
                <option value="MIE">Modificacion de indicadores de Exito</option>
                <option value="MRP">Modificacion de restricciones del proyecto</option>
                <option value="MFP">Modificacion de fases del proyecto</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-12">
            <div class="col-md-10 centered col-form-label">Detalles</div>
            <div class="col-md-10 centered">
              <textarea class="form-control" rows="3" [(ngModel)]="detalles"></textarea>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <div class="text-center">
                <button type="button" class="btn btn-primary w-lg" (click)="successmsg()">Enviar solicitud</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

  
    
  
  </div> <!-- container-fluid -->

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>