<div class="container-fluid">
  <app-pagetitle title="Asignación de Portfolio Manager"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
        <div class="card card-body more-shadow centered">
          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap">
                <div class="text-center">
                  <h1 class="display-4 mb-0 centered">Proyecto 1</h1>
                </div>
              <tbody>
                <div class="col-md-10 centered">
                  <select class="form-control">
                    <option>Portfolio Manager 1</option>
                    <option>Portfolio Manager 2</option>
                    <option>Portfolio Manager 3</option>
                    <option>Portfolio Manager 4</option>
                    <option>Portfolio Manager 5</option>
                    <option>Portfolio Manager 6</option>
                  </select>
                </div>
              </tbody>
            </table>
            <div class="col-md-12 mt-2">
              <div class="text-center">
                  <button type="button" class="btn btn-primary w-lg" (click)="successmsg()">Confirmar postulación</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- end row -->
</div>
